<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Entries list</title>
</head>
<body>
  <h1>Entries list: {{ mode }} ({{ entry_count }})</h1>

  {% include "feeds/menu.html" %}

  <ul>
    {% for entry in entries %}
      <li>
        {% if entry.is_read %}✅{% else %}⚡️{% endif %}
        {% if entry.is_favorite %}❤️{% endif %}
        <a href="{% url 'feeds:entry_detail' mode entry.pk %}{% if in_feed %}?in_feed={{ in_feed }}{% endif %}">
          {{ entry }}
        </a>
        &middot;
        in {{ entry.feed.title }}
        &middot;
        {{ entry.pub_date|timesince }} ago
      </li>
    {% endfor %}
  </ul>
</body>
</html>