{% extends "base.html" %}

{% block content %}
  <!-- First column: feeds, folders, tags -->
  <div class="{% if mode or in_feed or entry %}hidden lg:flex{% else %}flex{% endif %} flex-col w-full lg:w-32 p-4 lg:p-0 bg-gray-300 rounded-tl-lg rounded-bl-lg">
    {% include "feeds/includes/feed_list.html" %}
  </div>

  <!-- Second column: entries -->
  <div class="{% if entry %}hidden md:flex{% else %}{% if in_feed or mode %}flex{% else %}hidden md:flex{% endif %}{% endif %} flex-col w-full md:w-96 shrink-0 bg-white">
    {% include "feeds/includes/entry_list.html" %}
  </div>

  <!-- Third column: content -->
  <div class="{% if entry %}flex{% else %}hidden md:flex{% endif %} flex-1 flex-col overflow-y-hidden">
    {% include "feeds/includes/entry_detail.html" %}
  </div>
{% endblock content %}

<script>
  {% block javascript %}
    /**
     * This id is set inside `entry_list.html` template for selected entry's DIV.
     */
    const selectedEntry = document.getElementById("selected-entry");

    if (selectedEntry) {
      selectedEntry.scrollIntoView({ behavior: "instant", block: "start", inline: "nearest" });
    }

    {% if entry %}
      const shareEntryButton = document.getElementById("share-entry");

      if(shareEntryButton) {
        if (navigator.canShare) {
          shareEntryButton.addEventListener("click", async () => {
            try {
              await navigator.share({
                title: "{{ entry.title|escapejs }}",
                text: "{{ entry.summary|truncatechars:128|escapejs }}",
                url: "{{ entry.url }}"
              });
              console.log("Share clicked");
            } catch (err) {
              console.log("Error sharing entry:", err);
            }
          });
        } else {
          console.log(`Your browser doesn't support the Web Share API.`);
          shareEntryButton.hidden = true;
        }
      }
    {% endif %}

    {% if messages %}
      {# Show Django messages in console (no place for messages in this layout for now) #}
      {% for message in messages %}
        console.log(`{{ message }}`);
      {% endfor %}
    {% endif %}
  {% endblock %}
</script>