  <p>
    <a href="{% url 'feeds:feed_list' %}">Feeds</a>
    &middot;
    <a href="{% url 'feeds:entry_list' 'all' %}">All entries</a>
    &middot;
    <a href="{% url 'feeds:entry_list' 'today' %}">Today</a>
    &middot;
    <a href="{% url 'feeds:entry_list' 'unread' %}">Unread</a>
    &middot;
    <a href="{% url 'feeds:entry_list' 'read' %}">Read</a>
    &middot;
    <a href="{% url 'feeds:entry_list' 'favorites' %}">Favorites</a>
    &middot;
    <a href="{% url 'feeds:tag_list' %}">All tags</a>
  </p>
