<div class="flex flex-col w-full">

  <h3 class="p-1 font-semibold text-lg text-gray-900 border-b border-b-gray-300 w-full">
    Add New Feed
  </h3>
  <div class="mb-4 md:mb-8 p-4">
    {% if request.method == "POST" %}
      {% for field in form %}
        {% if field.errors %}
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 mr-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div>
              <span class="font-medium">An error has occured – {{ field.label }}:</span>
                <ul class="mt-1.5 ml-4 list-disc list-inside">
                  {{ field.errors }}
                </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        {% include "alert.html" with message=message style="success" %}
      {% endfor %}
    {% endif %}

    <form action="{% url 'feeds:settings_feeds' %}" method="post" id="add-feed-form">
      {% csrf_token %}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="id_url" class="block mb-2 text-sm font-medium text-gray-900">
            Feed URL *
          </label>
          <input type="url" name="url" id="id_url" maxlength="1024" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Insert Feed URL, e.g. https://hazadus.ru/rss.xml" required="">
        </div>
        <div class="sm:col-span-2">
          <label for="id_title" class="block mb-2 text-sm font-medium text-gray-900">
            Feed Title *
          </label>
          <input type="text" name="title" id="id_title" maxlength="256" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Enter Feed Title" required="">
        </div>
        <div class="sm:col-span-2">
          <label for="id_site_url" class="block mb-2 text-sm font-medium text-gray-900">
            Site URL *
          </label>
          <input type="url" name="site_url" id="id_site_url" maxlength="1024" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Insert Feed Site URL, e.g. https://hazadus.ru/" required="">
        </div>
        <div class="sm:col-span-2">
          <label for="id_image_url" class="block mb-2 text-sm font-medium text-gray-900">
            Feed Image URL
          </label>
          <input type="url" name="image_url" id="id_image_url" maxlength="1024" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Insert Feed Image URL">
        </div>
        <div class="sm:col-span-2">
          <label for="id_folder" class="block mb-2 text-sm font-medium text-gray-900">
            Folder
          </label>
          <select name="folder" id="id_folder" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5">
            <option value="" selected>-- None -- </option>
            {% for folder in folders %}
              <option value="{{ folder.pk }}">{{ folder.title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" id="add-feed" class="inline-flex items-center px-5 py-2.5 mt-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
        Add Feed
      </button>
    </form>
  </div>

  <h3 class="p-1 font-semibold text-lg text-gray-900 border-b border-b-gray-300 w-full">
    Manage Feeds
  </h3>
  {% with feeds.all.count as feeds_total_count %}
    <section class="bg-gray-50 py-3 sm:py-5">
      <div class="px-1 mx-auto max-w-screen-2xl lg:px-12">
        <div class="relative overflow-hidden bg-white shadow-md sm:rounded-lg">
          <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex items-center flex-1 space-x-4">
              <h5>
                <span class="text-gray-500">All Feeds:</span>
                <span>{{ feeds_total_count }}</span>
              </h5>
            </div>
            <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
              <button type="button" disabled class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                Update all
              </button>
              <button type="button" disabled class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                </svg>
                Export
              </button>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-4 py-3">Feed</th>
                  <th scope="col" class="px-4 py-3">Folder</th>
                  <th scope="col" class="px-4 py-3">Unread</th>
                  <th scope="col" class="px-4 py-3">Total</th>
                  <th scope="col" class="px-4 py-3">Last Entry</th>
                  <th scope="col" class="px-4 py-3">{# Button(s) #}</th>
                </tr>
              </thead>
              <tbody>
                {% for feed in feeds %}
                <tr class="border-b hover:bg-gray-100">
                  <th scope="row" class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    {% if feed.image_url %}
                      <img src="{{ feed.image_url }}" alt="Feed image" class="w-8 h-8 mr-3 object-cover">
                    {% else %}
                      <div class="h-8 w-8 mr-3 shrink-0"></div>
                    {% endif %}
                    <a href="{% url 'feeds:update_feed' feed.pk %}" class="hover:underline">
                      {{ feed.title }}
                    </a>
                  </th>
                  <td class="px-4 py-2">
                    {% if feed.folder %}
                      <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2 py-0.5 rounded">{{ feed.folder.title }}</span>
                    {% endif %}
                  </td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    <div class="flex items-center">
                      {{ feed.unread_entry_count }}
                    </div>
                  </td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">{{ feed.total_entry_count }}</td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    {% if feed.latest_entry_pub_date %}
                      {{ feed.latest_entry_pub_date|timesince }} ago
                    {% else %}
                      –
                    {% endif %}
                  </td>
                <td class="px-4 py-2">
                  <!-- "Delete feed" link -->
                  <a href="{% url 'feeds:delete_feed' feed.pk %}">
                    <div>
                      {% include "icons/icon_delete.html" with size=24 color="#6b7280" %}
                    </div>
                  </a>
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
            <span class="text-sm font-normal text-gray-500">
              Showing
              <span class="font-semibold text-gray-900">{{ feeds_total_count }}</span>
              of
              <span class="font-semibold text-gray-900">{{ feeds_total_count }}</span>
            </span>
          </nav>
        </div>
      </div>
    </section>
  {% endwith %}
</div>
