{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSS Reader</title>

  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <script async src="https://stats.hazadus.ru/script.js" data-website-id="c94e0204-7775-4695-9f51-34f16c1a3fd8"></script>
</head>

<body class="bg-white">
  {# NB: fixed `h-screen` for reader pages only, `min-h-screen` for all other pages. #}
  <div class="container flex mx-auto mt-0 shadow-md rounded-bl-lg rounded-br-lg {% if request.path == "/feeds/" or "/feeds/entries/" in request.path %}h-screen{% else %}min-h-screen{% endif %}">
    {% block content %}
    {% endblock content %}
    <script>
      console.log("Welcome to RSS Reader! Visit https://hazadus.ru for more info.")
      {% block javascript %}
      {% endblock javascript %}
    </script>
  </div>
</body>

</html>