<!-- Entries column header (fixed) -->
<div class="h-16 p-2 flex flex-col flex-shrink-0 bg-gray-300 shadow-sm justify-center">
  <!-- Feed title -->
  <div class="block text-sm font-semibold text-gray-800 whitespace-nowrap overflow-x-hidden overflow-ellipsis">
  {% if entries %}
    {% if in_feed and feed %}
      {{ feed }}
    {% elif mode %}
      {{ mode|capfirst }}
    {% endif %}
  {% endif %}
  </div>
  <!-- Number of entries in the feed -->
  <div class="block text-xs text-gray-700 whitespace-nowrap overflow-x-hidden overflow-ellipsis">
  {% if entries %}
    {% if in_feed and feed %}
      {{ entry_count }} entries
    {% elif mode %}
      {{ entries.count }} entries
    {% endif %}
  {% endif %}
  </div>
</div>

<!-- Entries column content (scrollable) -->
<div class="flex flex-col overflow-y-auto overflow-x-hidden border-r border-r-gray-300">
  {% if entries %}
    <ul>
      {% for entry in entries %}
        <li>
          {% if entry.is_read %}✅{% else %}⚡️{% endif %}
          {% if entry.is_favorite %}❤️{% endif %}
          <a href="{% url 'feeds:entry_detail' mode entry.pk %}{% if in_feed %}?in_feed={{ in_feed }}{% endif %}">
            {{ entry }}
          </a>
          &middot;
          in {{ entry.feed.title }}
          &middot;
          {{ entry.pub_date|timesince }} ago
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <span>Select a feed to view.</span>
  {% endif %}
</div>