<!-- Entries column header (fixed) -->
<div class="h-16 p-2 flex flex-shrink-0 bg-gray-300 items-center">
  <!-- Buttons (mobile only) -->
  <div class="flex md:hidden mx-2 h-[24px]">
    <a href="{% url 'feeds:feed_list' %}">
      {% include "icons/icon_home.html" with size="24" color="#6b7280" %}
    </a>
  </div>
  <!-- Feed title and buttons-->
  {% with feed.get_unread_entry_count as feed_unread_entry_count %}
    <div class="flex items-center w-full px-1">
      <!-- Feed title and number of entries -->
      <div class="flex flex-col flex-1">
        <!-- Feed title -->
        <div class="block text-sm font-semibold text-gray-800 whitespace-nowrap overflow-x-hidden overflow-ellipsis">
        {% if entries %}
          {% if in_feed and feed %}
            {{ feed }}
          {% elif mode %}
            {{ mode|capfirst }}
          {% endif %}
        {% endif %}
        </div>
        <!-- Number of entries in the feed -->
        <div class="block text-xs text-gray-600 whitespace-nowrap overflow-x-hidden overflow-ellipsis">
        {% if entries %}
          {{ entry_count }} entries{% if in_feed and feed %}, {{ feed_unread_entry_count }} unread{% endif %}
        {% endif %}
        </div>
      </div>
      <!-- Buttons -->
      <div class="flex shrink-0">
        {% if in_feed and feed %}
          {% if feed_unread_entry_count %}
            <!-- "Mark all as read" button -->
            <form class="h-[24px] mx-1" method="post" action="{% url 'feeds:feed_mark_as_read' feed.pk %}">
              {% csrf_token %}
              <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
              <button type="submit">
                {% include "icons/icon_multiple_marked_circle.html" with size="26" color="#6b7280" %}
              </button>
            </form>
          {% endif %}
          <!-- "Feed settings" button -->
          <a href="{% url 'feeds:update_feed' feed.pk %}">
            <div>
              {% include "icons/icon_gear_edit.html" with size="24" color="#6b7280" %}
            </div>
          </a>
        {% elif mode %}
          <!-- "Export favorites as Markdown file" button -->
          {% if mode == "favorites" %}
            <a href="#">
              <div>
                {% include "icons/icon_markdown_file.html" with size="24" color="#6b7280" %}
              </div>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endwith %}
</div>

<!-- Entries column content (scrollable) -->
<div class="flex flex-col flex-1 overflow-y-auto overflow-x-hidden border-r border-r-gray-300 {% if not entries %}justify-center{% endif %}">
  {% if entries %}
    {% for item in entries %}
      <a href="{% url 'feeds:entry_detail' mode item.pk %}{% if in_feed %}?in_feed={{ in_feed }}{% endif %}">
        <div class="flex m-1 rounded-lg h-24 max-h-24 items-center {% if item.pk == entry.pk %}bg-blue-500 hover:bg-blue-600{% else %}bg-gray-100 hover:bg-gray-200{% endif %} {% if not item.is_read %}border-l-4 border-teal-600 pl-1{% else %}pl-2{% endif %}"
          {% if item.pk == entry.pk %}id="selected-entry"{% endif %}
        >
          <!-- Feed image -->
          {% if item.feed.image_url %}
            <img class="w-16 h-16 rounded-lg shrink-0 object-cover" src="{{ item.feed.image_url }}" alt="{{ item.feed.title }}">
          {% else %}
            <div class="w-16 h-16 rounded-lg shrink-0"></div>
          {% endif %}
          <!-- Feed title, etc. -->
          <div class="flex flex-col p-1 h-full">
            <div class="flex flex-1 text-sm max-h-[72px] overflow-y-hidden overflow-ellipsis font-semibold leading-tight {% if item.pk == entry.pk %}text-white{% endif %}">
              {% if item.is_favorite %}❤️{% endif %}
              {{ item }}
            </div>
            {% if not in_feed %}
              <div class="text-xs {% if item.pk == entry.pk %}text-white{% else %}text-gray-600{% endif %}">
                in {{ item.feed.title }}
              </div>
            {% endif %}
            <div class="text-xs {% if item.pk == entry.pk %}text-white{% else %}text-gray-600{% endif %}">
              {{ item.pub_date|timesince }} ago
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <div class="mx-auto rounded-lg p-4 bg-gray-100">
      Select a feed to view.
    </div>
  {% endif %}
</div>