{% if entries %}
  <ul>
    {% for entry in entries %}
      <li>
        {% if entry.is_read %}✅{% else %}⚡️{% endif %}
        {% if entry.is_favorite %}❤️{% endif %}
        <a href="{% url 'feeds:entry_detail' mode entry.pk %}{% if in_feed %}?in_feed={{ in_feed }}{% endif %}">
          {{ entry }}
        </a>
        &middot;
        in {{ entry.feed.title }}
        &middot;
        {{ entry.pub_date|timesince }} ago
      </li>
    {% endfor %}
  </ul>
{% else %}
  <span>Select a feed to view.</span>
{% endif %}