<!-- Feeds column header (fixed) with user info -->
<div class="h-16 flex-shrink-0 flex items-center">
  {% if user.is_authenticated %}
    {% if user.profile_image %}
      <a href="{% url 'users:user_profile' user.pk %}">
        <img src="{{ user.profile_image.url }}" class="h-8 w-8 rounded-full mx-1" alt="{{ user.username }}">
      </a>
    {% else %}
      <div class="mx-2">
        {% include "icons/icon_account.html" with size="16" color="#6b7280" %}
      </div>
    {% endif %}
    <div class="flex-1 text-sm whitespace-nowrap overflow-x-hidden overflow-ellipsis">
      <a href="{% url 'users:user_profile' user.pk %}" class="hover:underline">
        {{ user.username }}
      </a>
    </div>
    <!-- Logout link -->
    <a href="{% url 'account_logout' %}">
      <div class="mx-2">
        {% include "icons/icon_logout.html" with size="16" color="#6b7280" %}
      </div>
    </a>
  {% endif %}
</div>

<!-- Feeds column content (scrollable) -->
<div class="flex flex-col p-1 overflow-y-auto overflow-x-hidden hide-scrollbar">
  <div class="mb-2 text-sm text-gray-500 uppercase drop-shadow cursor-default">
    Smart Feeds
  </div>
  <a href="{% url 'feeds:entry_list' 'all' %}">
    <div class="flex pl-1 items-center rounded-lg {% if mode == "all" and not in_feed %}bg-blue-500 hover:bg-blue-600{% endif %}">
      <div class="w-[16px]"></div>
      <span class="flex-1 text-sm py-1 mx-1 {% if mode == "all" and not in_feed %}text-white{% endif %}">
        All
      </span>
    </div>
  </a>
  <a href="{% url 'feeds:entry_list' 'today' %}">
    <div class="flex pl-1 items-center rounded-lg {% if mode == "today" and not in_feed %}bg-blue-500 hover:bg-blue-600{% endif %}">
      <div class="w-[16px]">
        {% include "icons/icon_sun.html" with size="16" color="#6b7280" %}
      </div>
      <span class="flex-1 text-sm py-1 mx-1 {% if mode == "today" and not in_feed %}text-white{% endif %}">
        Today
      </span>
      {% if today_unread_count %}
        <div class="text-xs p-1 rounded-lg bg-teal-600 text-white">{{ today_unread_count }}</div>
      {% endif %}
      {% if today_entries_count %}
        <div class="text-xs p-1 rounded-lg bg-blue-300">{{ today_entries_count }}</div>
      {% endif %}
    </div>
  </a>
  <a href="{% url 'feeds:entry_list' 'unread' %}">
    <div class="flex pl-1 items-center rounded-lg {% if mode == "unread" and not in_feed %}bg-blue-500 hover:bg-blue-600{% endif %}">
      <div class="w-[16px]">
        {% include "icons/icon_circle_dot.html" with size="16" color="#6b7280" %}
      </div>
      <span class="flex-1 text-sm py-1 mx-1 {% if mode == "unread" and not in_feed %}text-white{% endif %}">
        Unread
      </span>
      {% if unread_entries_count %}
        <div class="text-xs p-1 rounded-lg bg-teal-600 text-white">{{ unread_entries_count }}</div>
      {% endif %}
    </div>
  </a>
  <a href="{% url 'feeds:entry_list' 'read' %}">
    <div class="flex pl-1 items-center rounded-lg {% if mode == "read" and not in_feed %}bg-blue-500 hover:bg-blue-600{% endif %}">
      <div class="w-[16px]">
        {% include "icons/icon_circle.html" with size="16" color="#6b7280" %}
      </div>
      <span class="flex-1 text-sm py-1 mx-1 {% if mode == "read" and not in_feed %}text-white{% endif %}">
        Read
      </span>
    </div>
  </a>
  <a href="{% url 'feeds:entry_list' 'favorites' %}">
    <div class="flex pl-1 items-center rounded-lg {% if mode == "favorites" and not in_feed %}bg-blue-500 hover:bg-blue-600{% endif %}">
      <div class="flex w-[16px]">
        {% include "icons/icon_star.html" with size="16" color="#6b7280" %}
      </div>
      <span class="flex-1 text-sm py-1 mx-1 {% if mode == "favorites" and not in_feed %}text-white{% endif %}">
        Favorites
      </span>
    </div>
  </a>

  <!-- "Feeds" header with icons -->
  <div class="flex items-center mt-2 mb-2">
    <div class="text-sm text-gray-500 uppercase drop-shadow flex-1 cursor-default">
      Feeds
    </div>
    <!-- "Add feed" icon -->
    <a href="{% url 'feeds:settings_feeds' %}#add">
      <div class="shrink-0 mr-1 md:mr-0">
        {% include "icons/icon_add_circle.html" with size="18" color="#6b7280" %}
      </div>
    </a>
    <!-- "Manage Feeds" icon -->
    <a href="{% url 'feeds:settings_feeds' %}#manage">
      <div class="shrink-0 cursor-pointer">
        {% include "icons/icon_gear_edit.html" with size="18" color="#6b7280" %}
      </div>
    </a>
  </div>
  {% for item in feeds %}
    <a href="{% url 'feeds:entry_list' 'all' %}?in_feed={{ item.pk }}">
      <div class="flex items-center text-xs whitespace-nowrap py-0.5 max-w-32 flex-grow-0 rounded-lg {% if feed and item.pk == feed.pk %}bg-blue-500 hover:bg-blue-600 text-white{% endif %}">
        <!-- Feed image -->
        {% if item.image_url %}
          <img class="w-5 h-5 rounded-lg shrink-0 object-cover" src="{{ item.image_url }}" alt="Icon">
        {% else %}
          <div class="w-5 h-5 rounded-lg shrink-0"></div>
        {% endif %}
        <div class="flex-1 ml-1 hover:underline block max-w-32 overflow-x-hidden overflow-ellipsis ">
          {{ item.title }}
        </div>
        {% if item.unread_entry_count %}
          <div class="text-xs px-1 py-0.5 rounded-lg bg-teal-600 text-white">{{ item.unread_entry_count }}</div>
        {% endif %}
      </div>
    </a>
  {% endfor %}

  <div class="mt-2 mb-4 text-sm text-gray-500 uppercase drop-shadow cursor-default">
    All Tags
  </div>
</div>